body {
	background-color: #f2682e;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.carta {
	perspective: 1000px;
	float: left;
	margin: 1%;
	border
}

.cartaGirada .flipper, .carta.hover .flipper {
	transform: rotateY(180deg);
}

.carta, .cara, .dorso {
	width: 6em;
	padding-bottom: 100%;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.cara, .dorso {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 4em;
}

.cara {
	z-index: 2;
	transform: rotateY(0deg);
	background-color: white;
	background-size: 90%;
}

.dorso {
	transform: rotateY(180deg);
	background-color: black;
}

.cara:hover {
  animation: shake 0.5s cubic-bezier(.20,.07,.19,.20) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

section {
	width: 70%;
	margin: 0 auto;
	
}

table {
	margin: 0 auto;
}

td {
	padding: 0.5em;
}

header {
	padding: 1em;
	background-color: #525354;
	margin: 0 auto 0 auto;
	text-align: center;
}

header h1 {
	font-size: 2.5em;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 0.3em;
}

header p {
	display: inline-block;
	text-align: right;
	margin: 0 0.5em 0 0.5em;
}

.triangulo {
     width: 0; 
     height: 0;
     margin: 0 auto;
     border-top: 2em solid #525354;
     border-right: 1.5em solid transparent;
     border-left: 1.5em solid transparent;
     margin-bottom: 1.5em;
}